html {
	background: url(background-playlist.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size; cover;
	transition: background-color .5s ease-in-out;
	margin: 50px;
}


@font-face {
	font-family: "maggie";
	src: url("maggie.ttf");
}

.title {
	margin-top: 15%;
	align-content: center;
	font-family: "maggie";
	background-color: black;
	color: white;
	font-size: 8vw;
	background-size: cover;
	text-align: center;
	vertical-align: center;
	animation-name: easein;
	animation-duration: 2s;
	line-height: 6.5rem;
	text-shadow: 4px 4px 4px black;
}

@keyframes easein {
	0% {opacity: 0%;}
	50% {opacity: 50%;}
	100% {opacity: 100%;}
}

.button {
	margin-top: 10%;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 4vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
	line-height: 1.5rem;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: underline;
	color: red;
}

.button:hover {
	border-radius: 50%;
	background-color: white;
	border: solid 2px black;
	transition: .25s ease-in-out;
}



@media screen and (max-width: 600px) {

	.title {
	font-family: "maggie";
	font-size: 13vw;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem;
	}

	.button {
	grid-column: 1;
	grid-row: 2;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-size: 9vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
	}

	img {
		max-width: 200px;
	}
}

@media screen and (max-width: 900px, min-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-gap: 30px;
		min-width: 100%;
		min-height: 100%;
		align-content: center;
	}

	.title {
	grid-column: 1 / span 2;
	grid-row:1;
	align-content: center;
	font-family: "maggie";
	background-image: url(notebook-paper.png);
	font-size: 6vw;
	background-size: cover;
	text-align: center;
	vertical-align: center;
	}

	.button {
	grid-column: 1 / span 2;
	grid-row: 2;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-family: "maggie";
	font-size: 5vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
	}

	img {
		max-width: 250px;
	}
