html {
  color: #76574B ;
  background-color: #FFDAEB;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



@font-face {
  font-family: AlpinaItalic;
  src: url(fonts-port/GT-Alpina-Standard-Thin-Italic-Trial.otf);
}

@font-face {
  font-family: NeueHaas;
  src: url(fonts-port/NeueHaasDisplayThin.ttf);
}
h1 {
  font-family: AlpinaItalic;
  font-size: 8em;
  font-weight: 200;
}
h2 {
  font-family: AlpinaItalic;
  font-size: 3.3em;
  font-weight: 200;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 400;
  font-family: NeueHaas;
}

p {
  font-size: 1.6em;
  font-family: NeueHaas;
  padding: 0;
  margin: 0;
}
#title {
  font-family: AlpinaItalic;
  font-weight: 100;
  padding: 0;
}

#navigation button {
  display: block;
  margin: 10px;
  width: 13vw;
  margin-left: 1vw;
  height: 5vh;
  font-size: 1em;
  color: #FFDAEB;
  background-color: #76574B;
  text-align: left;
  border: none;
  font-family: AlpinaItalic;
  font-size: 2.7em;
}

#navigation button:hover {
  text-shadow: 0 0 5px #FFDAEB;
  transform: translate(10px);
}

#intro {
  left: 18vw;
  font-size: 2.4em;
  top: 2vh;
  padding: 0;
  line-height: 1.6em;
  width: 82%;
  position: absolute;
}

#fun {
  font-family: AlpinaItalic;
  font-weight: 200;
  position: fixed;
  z-index: 5;
  text-shadow: 1px 1px 10px #FFDAEB;
}

#block {
  margin-top: 10vh;
}

.emph a{
  font-family: AlpinaItalic;
  color: #76574B;
  text-decoration: none;
  border-bottom: 1.5px solid #76574B;
  line-height: 0.8em;
  display: inline-block;
}

.emph:hover{
  text-shadow: 0 0 5px #76574B;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 17vw;
  background-color:#76574B;
}

.wrapper {
  left: 18vw;
  position: absolute;
  top: 100vh;
}

img {
  height: 59vh;
  margin-right: 10px;
}

.images {
  height: 60vh;
  overflow-x: scroll;
  display: flex;
  width: 81vw;
  overflow-y: hidden;
}

.spacer {
  height: 15vh;
}

.ctd {
  width: 50vw;
  position: absolute;
  margin-top: 60vh;
}

.view-more button{
  position: absolute;
  border: none;
  text-align: right;
  width: 99%;
  margin-top: -4.5vh;
  font-size: 1.8em;
  font-family: NeueHaas;
  background-color: transparent;
  color: #76574B;
}

.view-more a {
  color:#76574B;
  text-decoration: none;
  border-bottom: 2px solid #76574B;
  display: inline-block;
  line-height: 0.8em;
}

#instructions {
  font-size: 2.4em;
  position: absolute;
  top: 90vh;
  left: 18vw;
}

.scoot{
  animation: scoochie 2s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes scoochie {
  0%{opacity: 0; translate: transformY(5px)}
  25% {opacity: 0.25; translate: transformY(10px)}
  50% {opacity: 0.5; translate: transformY(15px)}
  75% {opacity: 0.75; translate: transformY(20px)}
  100% {opacity: 1; translate: transformY(25px)}
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid #76574B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #76574B;
  width: 40px;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat386.ani), url(https://cur.cursors-4u.net/nature/nat-4/nat386.png), auto !important;} /* End https://www.cursors-4u.com */
