html {
  margin: 2em;
  color: #FFFFFF;
  background-image: url(blue-grid.jpg) ;
  background-size: cover;
  max-width: 56em;
  padding: 1em 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 2vw;
  line-height: 2.5vw;
}

@font-face {
    font-family: 'goozetteregular';
    src: url('fonts/goozette_2-webfont.woff2') format('woff2'),
         url('fonts/goozette_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'elasticelastic';
    src: url('fonts/barlow-elasticc-webfont.woff2') format('woff2'),
         url('fonts/barlow-elasticc-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30vw 30vw 10vw;
  grid-gap: 1em;
}

header,
footer {
  grid-column: 1 / span 5;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  box-sizing: border-box;
  display: grid;
  background-color: black;
  block-size: fit-content;
  height: fit-content;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}

.green {
  color: #14ff65;
}

.red {
  color: #ff0000;
}



h1 {
  font-family: 'goozetteregular';
  font-size: 6vw;
  color: #fff;
}

h2 {
  font-family: 'goozetteregular';
  font-size: 5vw;
  color: #ff0000;
}

h3 {
  font-family: 'Cute Font', cursive;
  font-size: 4vw;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  header {
    border-radius: 3px;
    border-color: white;
    padding: 20px;
    display: inline;
    font-size: 4vw;
    overflow: none;
    block-size: fit-content;
  }
    main {
      border-radius: 2px;
      border-color: white;
      padding: 2px;
      font-size: 7vw;
      line-height: 9vw;
      grid-column: 1 / span 5;
    }
    h3 {
      font-size: 9vw;
    }
    h1 {
      font-size: 6vw;
    }
  }
}
