html {
  margin: 10vw;
  background: white;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  background-size: cover;
}

#sun {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 10%;
  left: 40%;
  background-color: #ffff00;
}

.burger {
  align-content: center;
}

.top-bun {
  height: 100px;
  width: 300px;
  border-radius: 1000px 1000px 10px 10px;
  background-color: #DAA520;
  border-top: 10px solid #E6BE8A;
}

.beef-one {
  width: 300px;
  height:50px;
  border-radius: 20%;
  background-color: #654321;
  border-top: 2px solid #653221;
  border-bottom: 2px solid #653221;
}

.beef-two {
  width: 300px;
  height:50px;
  border-radius: 20%;
  background-color: #654321;
  border-top: 2px solid #653221;
  border-bottom: 2px solid #653221;
}

.bottom-bun {
  height: 70px;
  width: 300px;
  border-radius: 10px 10px 1000px 1000px;
  background-color: #DAA520;
  border-bottom: 10px solid #E6BE8A;
}
