body {
    overflow-x: scroll;
}

#glasses {
    width: 60%;
    position: fixed;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
}

#enquire-text {
    position: fixed;
    width: 29%;
    margin-left: 51%;
    margin-top: 14%;
}

#national-text {
    position: fixed;
    width: 31%;
    margin-top: 14%;
    margin-left: 18%;
}

#left-eyeball{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-color: black;

    position: fixed;
    margin-left: 40%;
    margin-top: 19%;
}

#right-eyeball{
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
    background-color: black;

    position: fixed;
    margin-left: 70%;
    margin-top: 30%;
}

#glasses-2 {
    width: 50vw;
    height: auto;
    position: fixed;
    margin-left: 0;
    margin-top: 3vh;
}

#enquirer-2 {
    width: 19.5%;
    position: fixed;
    margin-left: 29vw;
}

#national-2 {
    position: fixed;
    width: 21.5%;
    margin-left: 3vw;
}

#circle-1 {
    position: fixed;
    width: 20vw;
    margin-left: 70vw;
    margin-top: 60vh;
}

#circle-2 {
    position: fixed;
    width: 20vw;
    margin-left: 45vw;
    margin-top: 60vh;
}

#national-3 {
    position: fixed;
    width: 15vw;
    margin-left: 47.5vw;
    margin-top: 59vh;
    z-index: 3;
}

#enquirer-3 {
    position: fixed;
    width: 15vw;
    margin-left: 73vw;
    margin-top: 70vh;
    z-index: 3;
}


/* position checking
left eyeball
    lowest height: 32%
    highest height: 19%

    farthest left: 25%
    farhest right: 39%

right eyeball
    lowest height: 32%
    highest height: 19%

    farthest left: 56%
    farthest right: 70%