html {
    color: #6E71D1 ;
    font-family: Helvetica Neue, Arial, sans-serif;
    background-color: #ededed;
    margin: 10px;
  }
  
  h1 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 3em;
    font-weight: 600;
  }
  
  h3 {
    font-weight: 400;
  }
  
  p {
    font-size: 1.2em;
  }
  
  header {
    display: grid;
    max-width: 2100px;
    grid-template-columns: 33.3%, 33.3%, 33.3%;
    grid-template-rows: 300px;
  }

  #intro {
    grid-column: 3;
    font-size: .9em;
    line-height: 1.3em;
    grid-row: 1;
    color:#6E71D1;
  }
  
  #title-card {
    grid-row: 1;
    grid-column: 1;
    max-width: 50vw;
    object-fit: scale-down;
  }
  
  #navigation {
    grid-row: 1;
    grid-column: 2;
    display: block;
    padding: 10px;
  }
  
  #navigation button {
    display: block;
    margin: 10px;
    width: 15vw;
    height: 5vh;
    font-size: 1em;
    color: #ededed;
    background-color: #6E71D1;
    border-radius: 10px;
    border: 1px solid #6E71D1;
  }
  
  #navigation button:hover {
    background-color:#ededed;
    color: #6E71D1;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 32%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }