html {
  color: #76574B ;
  background-color: #FAF1EF ;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



@font-face {
  font-family: AlpinaItalic;
  src: url(/fonts-port/GT-Alpina-Standard-Thin-Italic-Trial.otf);
}

@font-face {
  font-family: NeueHaas;
  src: url(/fonts-port/NeueHaasDisplayThin.ttf);
}
h1 {
  font-family: AlpinaItalic;
  font-size: 5em;
  font-weight: 200;
  padding: 0;
  margin: 0;
}
h2 {
  font-family: AlpinaItalic;
  font-size: 2.2em;
  font-weight: 200;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}
h3 {
  font-weight: 400;
  font-family: NeueHaas;
}

p {
  font-size: 1.4em;
  font-family: NeueHaas;
  padding: 0;
  margin: 0;
}
#title {
  font-family: AlpinaItalic;
  font-weight: 100;
  padding: 0;
  color: #FAF1EF ;
}
#navigation {
  position: fixed;
  top: 35vh;
}

li a {
  display: block;
  padding-bottom: 10px;
  margin-left: 10px;
  font-family: NeueHaas;
  color: #FAF1EF ;
  text-decoration: none;
  font-size: 1.4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about-button {
  display: block;
  padding-bottom: 10px;
  /* margin: 10px; */
  width: 13vw;
  margin-left: 10px;
  /* height: 5vh; */
  font-size: 1.4em;
  color: #FAF1EF ;
  background-color:transparent;
  text-align: left;
  border: none;
  font-family: NeueHaas;
  /* font-size: 1.3em; */
  text-decoration: none;
  padding-left: 0;
}

#navigation button:hover {
  text-shadow: 0 0 5px #FAF1EF ;
  transform: translate(10px);
}


#image-right {
  position: fixed;
  width: 13vw;
  left: 5px;
  bottom: 5px;
  z-index: 20;
}

#image-right img {
  width: 3vw;
  height: auto;
}

#fun {
  font-family: AlpinaItalic;
  font-weight: 200;
  position: fixed;
  z-index: 5;
  text-shadow: 1px 1px 10px #FAF1EF ;
  color: #FAF1EF ;
  top: 5px;
  left: 10px;
}

#block {
  position: fixed;
  color: #FAF1EF ;
  width: 24vw;
  left: 10px;
  top: 8vh;
}

.emph button{
  font-family: AlpinaItalic;
  color: #FAF1EF ;
  text-decoration:underline;
  line-height: 0.8em;
  display: inline-block;
  background: none;
  font-size: 1em;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  padding: 0;
  margin: 0;
}

.emph button:hover{
  text-shadow: 0 0 5px #76574B;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 25vw;
  background-color:#76574B;
}

.wrapper {
  left: 26vw;
  position: absolute;
  top: 5px;
}

img {
  height: 59vh;
  margin-right: 10px;
}

.images {
  height: 60vh;
  overflow-x: scroll;
  display: flex;
  width: 74vw;
  overflow-y: hidden;
}

.spacer {
  height: 15vh;
}

.ctd {
  width: 50vw;
  position: absolute;
  margin-top: 60vh;
}

.view-more button{
  position: absolute;
  border: 1px solid #76574B;
  text-align: center;
  width: 15%;
  margin-top: -4vh;
  margin-left: 84%;
  font-size: 1.4em;
  font-family: NeueHaas;
  background-color: transparent;
  color: #76574B;
  text-decoration: none;
}

.view-more a {
  color:#76574B;
  text-decoration: none;
  /* border-bottom: 2px solid #76574B; */
  display: inline-block;
  line-height: 0.8em;
  text-decoration: none;
}

.view-more button:hover {
  /* text-shadow: 0 0 5px #76574B; */
  background-color: #76574B;
  /* color: #FAF1EF ; */
}
#random-stuff {
  /* background-color: red; */
  position: absolute;
  height: 10vh;
  width: 73vw;
  left: 26vw;
  top: 5px;
  overflow: hidden;
}

.scoot{
  animation: scoochie 2s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes scoochie {
  0%{opacity: 0; translate: transformY(5px)}
  25% {opacity: 0.25; translate: transformY(10px)}
  50% {opacity: 0.5; translate: transformY(15px)}
  75% {opacity: 0.75; translate: transformY(20px)}
  100% {opacity: 1; translate: transformY(25px)}
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid #76574B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #76574B;
  width: 40px;
}

.image-bank{
  display: none;
  position: absolute;
  margin-left: 26vw;
  margin-top: 13vh;
  flex-wrap: wrap;
}

.column img {
  width: 100%;
  vertical-align: middle;
  height: auto;
  margin-bottom: 5px;
}


.new-fun {
  position: absolute;
  margin-left: 26vw;
  margin-top: 5px;
  /* font-size: 3.8em; */
  z-index: 5;
  text-shadow: 1px 1px 10px #FAF1EF ;
  font-family: AlpinaItalic;
  font-weight: 200;
}

.remove {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.4em;
  font-family: NeueHaas;
  /* border: none; */
  border: 1px solid #76574B;
  background: none;
  color: #76574B;
  /* text-decoration: underline; */
  /* text-shadow: 1px 1px 10px #FAF1EF ; */
}

.remove:hover{
  background-color: #76574B;
  color: #FAF1EF ;
}

#about {
  display: none;
  margin-left: 26vw;
  position:absolute;
}

.column-2 {
  width: 30vw;
  display: inline-block;
  left: 26vw;
  position: absolute;
  top: 2vh;
  z-index: -1;
}

.column-3 {
  position: absolute;
  left: 57vw;
  top: 2vh;
  width: 24vw;
}

.spacer-2 {
  height: 3vh;
}

h3 {
  font-family: AlpinaItalic;
  font-size: 2.2em;
  padding-bottom: 5px;
  margin: 0;
}

.little-spacer {
  height: 1.5vh;
}

#descr {
  width: 50vw;
  /* font-size: 1.4em; */
}

.row {
  position: absolute;
  left: 26vw;
  top: 30vh;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

.column {
  flex: 49%;
  width: 49%;
  padding: 0 4px;
  margin-top: 2vh;
}

#links {
  font-size: 1.4em;
  /* color: #76574B; */
  font-family: NeueHaas;
}

#links a {
  color: #76574B;
  border: 1px solid #76574B;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#links a:hover {
  background-color: #76574B;
  color: #FAF1EF ;
}

#home {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 1.4em;
  font-family: NeueHaas;
  border: 1px solid #76574B;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #76574B;
}

#home:hover {
  background-color: #76574B;
  color: #FAF1EF ;
}

#live {
  font-family: NeueHaas;
  font-size: 1.4em;
  text-decoration: none;
  color: #76574B;
  border: 1px solid #76574B;
  padding-left: 10px;
  padding-right: 10px;
}

#live:hover {
  background-color: #76574B;
  color: #FAF1EF ;
}