html {
	background: url(background-playlist.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size; cover;
	transition: background-color .5s ease-in-out;
	margin: 50px;
}

.container {
	display: grid;
	grid-template-columns: repeat(5, minmax(250px, 1fr));
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 30px;
	min-width: 100%;
	min-height: 100%;
	
	align-content: center;
	vertical-align: center;
}

@font-face {
	font-family: "maggie";
	src: url("fonts/maggie.ttf");
}

.title {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row:3;
	align-content: center;
	font-family: "maggie";
	background-image: url(notebook-paper.png);
	font-size: 2.5vw;
	background-size: cover;
	text-align: center;
	vertical-align: center;
	animation-name: easein;
	animation-duration: 2s;
}

@keyframes easein {
	0% {opacity: 0%;}
	50% {opacity: 50%;}
	100% {opacity: 100%;}
}

.button {
	grid-column: 3;
	grid-row: 4;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-family: "maggie";
	font-size: 4vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: underline;
	color: red;
}

.button:hover {
	border-radius: 50%;
	border: solid 2px black;
	transition: .25s ease-in-out;
}



@media screen and (max-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-gap: 30px;
		min-width: 100%;
		min-height: 100%;
		align-content: center;
	}

	.title {
	grid-column: 1;
	grid-row:1;
	align-content: center;
	font-family: "maggie";
	background-image: url(notebook-paper.png);
	font-size: 8vw;
	background-size: cover;
	text-align: center;
	vertical-align: center;
	}

	.button {
	grid-column: 1;
	grid-row: 2;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-family: "maggie";
	font-size: 6vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
	}

	img {
		max-width: 200px;
	}
}

@media screen and (max-width: 900px, min-width: 600px) {
	.container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-gap: 30px;
		min-width: 100%;
		min-height: 100%;
		align-content: center;
	}

	.title {
	grid-column: 1 / span 2;
	grid-row:1;
	align-content: center;
	font-family: "maggie";
	background-image: url(notebook-paper.png);
	font-size: 6vw;
	background-size: cover;
	text-align: center;
	vertical-align: center;
	}

	.button {
	grid-column: 1 / span 2;
	grid-row: 2;
	align-content: center;
	vertical-align: center;
	text-align: center;
	font-family: "maggie";
	font-size: 5vw;
	text-shadow: 2px 2px 5px #000;
	color: black;
	text-decoration: none;
	animation-name: easein;
	animation-duration: 2s;
	}

	img {
		max-width: 250px;
	}



