html {
    color: #000;
    font-size: 1rem;
    line-height: 1.4;
    background-image: url(images/homepage-background.JPG);
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: repeat(2, 1fr) 100%;
  margin: 20px;
  min-height: 100%;
  min-width: 100%;
}

.title {
    grid-column: 2;
	grid-row:1;
	align-content: center;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 2px 2px 8px black;
    border: dotted 2px #000;
}

#navigation {
    display: inline ;
    font-family: 'Comfortaa', cursive;
    font-size: 1.8rem ;
    grid-row: 1;
    grid-column: 3;
    font-size: 1em;
    text-align: center ;
    line-height: 1.9em;
  
  }

#navigation a:link {
    color: #000;
    text-decoration: none;
}

#bar li{
    display: flex;
    text-align: center;
}

@media screen and (max-width: 500px) {

html {
    background-image: url(images/mobile-bg.jpg);
}
.container {
    
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.title {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
}

#navigation {
    grid-column: 1;
    grid-row: 2;
    background-color: white;
}
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat386.ani), url(https://cur.cursors-4u.net/nature/nat-4/nat386.png), auto !important;} /* End https://www.cursors-4u.com */

