html {
    padding: 10px;
    background-color:#BD91B9;
}

/*#title img {
    max-height: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */

#wrapper {
    display: grid;
    grid-template-columns: 570px 570px 570px;
    grid-template-rows: 550px 150px;
    margin-top: 150px;
}

.sparkle-text {
    grid-row: 2;
    font-family: 'Cormorant Garamond';
    text-align: center;
    font-size: 1.6em;
    color: #ECDDDD;
    
    /*border: 1px solid white; */
    padding: 20px;
    margin: 20px;
    border-radius: 50px;
}

.sparkle-text a {
    color: #ECDDDD;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    rotate: 0;
}

.xy:hover {
    animation-name: wiggle;
    animation: ease-in-out 2s;
    cursor: default;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FFBFF1, 0 0 40px #F2B9FF, 0 0 50px #DBCFDD, 0 0 60px #F2B9FF, 0 0 70px #FFBFF1;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #FFBFF1, 0 0 40px #F2B9FF, 0 0 50px #DBCFDD, 0 0 60px #F2B9FF, 0 0 70px #FFBFF1, 0 0 80px #FFB0E1;
    }
  }

#erika-heart {
    grid-column: 1;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    overflow: hidden;
    max-height: 600px;
}

#trisha-heart {
    grid-column: 2;
    grid-row: 1;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 600px;
}

#chaya-heart {
    grid-column: 3;
    grid-row: 1;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 600px;
}

