html {
    background-color:#70728F;
    margin: 0;
}

#title {
    position: relative;
    margin-top: 60px;
    z-index: 40;
    justify-self: center;
    display: flex;
    max-height: 8vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
}

.intro {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 20vw;
    margin-right: 15vw;
}

#elaborate {
    text-align: left;
    display: flexbox;
    font-family: 'Times New Roman', serif;;
    font-weight: 500;
    font-size: 3vh;
    margin-top: 0;
    padding-left: 10px;
    color:#FFF1FF;
    text-shadow: #ECDDDD 1px 0 10px;
    margin-left: 20vw;
    margin-right: 20vw;
}

.animated-text {
    font-family: 'Times New Roman', serif;;
    font-weight: 500;
    font-size: 5.5vh;
    text-shadow: #ECDDDD 1px 0 10px;
    text-align: left;
}

h1 {
    display: flex;
    font-family: 'Times New Roman', serif;
    font-weight: 400;
    font-size: 7em;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
    position: absolute;
    color: #ECDDDD;
    margin-top: 0;
}


#wrapper {
    margin-left: 4vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 63vh 11vh auto auto;
    margin-top: 11vh;
    position: relative;
}

.sparkle-text {
    grid-row: 2;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 3em;
    color: #ECDDDD;
}

.sparkle-text a {
    color: #ECDDDD;
    animation: smallglow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FFBFF1, 0 0 20px #F2B9FF, 0 0 25px #DBCFDD, 0 0 30px #F2B9FF, 0 0 35px #FFBFF1;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #FFBFF1, 0 0 20px #F2B9FF, 0 0 25px #DBCFDD, 0 0 30px #F2B9FF, 0 0 40px #FFBFF1, 0 0 50px #FFB0E1;
    }
  }
  @keyframes smallglow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #FFBFF1, 0 0 10px #F2B9FF, 0 0 12px #DBCFDD, 0 0 10px #F2B9FF, 0 0 8px #FFBFF1;
    }
    to {
      text-shadow: 0 0 4px #fff, 0 0 10px #FFBFF1, 0 0 16px #F2B9FF, 0 0 20px #DBCFDD, 0 0 24px #F2B9FF, 0 0 20px #FFBFF1, 0 0 16px #FFB0E1;
    }
  }

.heart-frame {
    position: flex;
}

#erika-heart {
    grid-column: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    overflow: hidden;
    max-height: 70vh;
}

#erika-devil {
    grid-column: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    grid-row: 1;
    overflow: hidden;
    max-height: 70vh;
    animation: glitch 3s infinite ease-in-out;
}


#trisha-heart {
    grid-column: 2;
    grid-row: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 70vh;
}

#trisha-devil {
    grid-column: 2;
    grid-row: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 70vh;
    animation: glitch 3s infinite ease-in-out;
}

#chaya-heart {
    grid-column: 3;
    grid-row: 1;
    object-fit: scale-down;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 70vh;
}

#chaya-devil {
    grid-column: 3;
    grid-row: 1;
    object-fit: scale-down;
    display: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-height: 70vh;
    animation: glitch 3s infinite ease-in-out;
    position: flex;
}

@keyframes glitch {
    0%{opacity: 25%; transform: translate(0,0); filter: blur(2px);}
    25%{opacity: 80%; transform: translate(1,1); filter: blur(0.5px);}
    50%{opacity: 100%; transform: translate(2,2); filter: blur(0px);}
    75%{opacity: 80%; transform: translate(1,1); filter: blur(0.5px);}
    100%{opacity: 25%; transform: translate(0,0); filter: blur(2px);}
}

