#viewGalleryBtn{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index:2;
}

#gallery{
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0px;
    left: 0px;
    background: black;

    display: none;
}

#gallery.visible{
    display:flex;
    gap: 50px;
}

.galleryImage{
    width: 100px;
    height: 100px;
}